{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-rename-import", {
          "original": "^(.{1,2})/(.+[^5])$",
          "replacement": "$1/$2.es5"
        }]
      ]
    }
  }
}
