{
  "presets": [
    "@babel/env"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-rename-import",
          {
            "original": "^(.{1,2})/(.+[^5])$",
            "replacement": "$1/$2.es5"
          }
        ]
      ]
    }
  }
}
