// out: style.css, sourcemap: true, compress: true

.brand-logo
    width 100%
    @media screen and (max-width: 992px)
      text-align center

textarea
  height 100%

.flex
  display flex

pre
  background #eee
  &.small
    font-size 0.8em

.outputz
  margin-top 2em
