// out: style.css, sourcemap: true, compress: true

.brand-logo
    @media screen and (max-width: 992px)
      width 100%
      text-align center

textarea
  height 100%

.flex
  display flex

pre
  background #eee
  &.small
    font-size 0.8em

.outputz
  margin-top 2em

.nav-wrapper
  margin 0 0.5em


.loading
  background #EE6E72
  display flex
  height 100vh

  nav, #app
    display none
  .lds-ellipsis
    display block

.lds-ellipsis
  display none
  position relative
  width 64px
  height 64px
  margin auto
  div
    position absolute
    top 27px
    width 11px
    height 11px
    border-radius 50%
    background #fed
    animation-timing-function cubic-bezier(0, 1, 1, 0)
    &:nth-child(1)
      left 6px
      animation lds-ellipsis1 0.6s infinite
    &:nth-child(2)
      left 6px
      animation lds-ellipsis2 0.6s infinite
    &:nth-child(3)
      left 26px
      animation lds-ellipsis2 0.6s infinite
    &:nth-child(4)
      left 45px
      animation lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
